.root {
  display: flex;
}

@media (max-width: 500px) {
  .root {
    flex-direction: column;
    margin: 0 auto;
    max-width: 50vw;
  }
}

.item {
  flex-grow: 1;
  text-align: center;
  text-decoration: underline 3px #4183c4;
}

.item_active {
  color: #999999;
  text-decoration: none;
}

.item:last-child {
  margin-right: 0;
}

@media (max-width: 500px) {
  .item {
    margin: 0 0 .5em 0;
    text-align: left;
  }
}
